/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* base rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-01);
    font-family: var(--font-primary);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

html{
    font-size: 62.5%;
    /* 100% = 16px */
    /* 62.5% = 10px */
    /* 1rem = 10px */
}

h1,h2{
    font-weight: bold;
    font-family: var(--font-secondary);
}

h2{
    font-size: 5rem;
}

h3{
    color: var(--dark-02);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

li, a{
    font-size: 1.6rem;
    font-weight: 600;
}

p, h3{
    font-size: 2.2rem;
}

p{
    color: var(--dark-04);
}

/* theme */

:root{
    --white: #ffffff;
    --dark-01: #000000;
    --dark-02: #111111;
    --dark-03: #252432;
    --dark-04: rgba(0, 0, 0, 0.5);
    --dark-05: #8987A1;
    --dark-06: #6B7280;
    --bg-primary: #F5F8FF;
    --bg-secondary: #FAFCFF;
    --btn-primary: #E95A08;
    --font-secondary: "Noto Serif", serif;
    --font-primary: "Inter", sans-serif;
}


/* layout */

.container{
    margin-inline: 15rem;
}

/* for mobile */
@media screen and (max-width: 640px) {
    .container{
        margin-inline: 1.6rem;
    }
}

/* module / reuseable */

.text-Vermilion{
    color: var(--btn-primary);
}

.bg-overlay{
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    color: var(--white);
    z-index: 0;
    overflow: hidden;
}

.bg-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--dark-04);
  z-index: 1;
}

.bg-overlay > * {
  position: relative;
  z-index: 2;
}

.btn{
    background-color: var(--btn-primary);
    border: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    padding: 2rem 4.5rem;
    cursor: pointer;
}

/* for mobile */
@media screen and (max-width: 640px) {
    .btn{
        font-weight: 500;
    }
}

.btn i{
    margin-left: 1rem;
}

/* state */

/* body section */
.bg-primary{
    background-color: var(--bg-primary);
}

.bg-secondary{
    background-color: var(--bg-secondary);
}

/***** header Section *****/ 

.section-header{
    margin-top: 3rem;
}

.mobile-top{
    display: none;
}

/***** navbar Section *****/ 

.section-header--nav{
    display: grid;
    grid-template-columns: 4fr 2.5fr 1fr;
    align-items: center;
}

.nav-brand--logo{
    width: 13.5rem;
    height: 8.2rem;
}

.nav-brand--logo img{
    width: 100%;
}

.nav-menu--icon{
    display: none;
}

.nav-menu--items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}

.nav-menu--item a{
    color: var(--dark-05);
}

.nav-menu--item:first-child a{
    color: var(--dark-02);
    font-weight: bold;
}

.section-nav--cart{
    font-size: 1.7rem;
}

/***** navbar media query Section *****/ 

/* for mobile */
@media screen and (max-width: 640px) {

    .section-header--nav{
        grid-template-columns: 2fr 1fr;
        justify-items: start;
    }

    .mobile-top{
        margin-bottom: 1.3rem;
        display: flex;
        justify-content: space-between;
    }

    .mobile-top--left{
        padding-left: 5.1rem;
    }

    .mobile-top--left p{
        color: var(--dark-01);
        font-size: 1.7rem;
        font-weight: 600;
        font-family: var(--font-secondary);
    }

    .mobile-top--right{
        padding-right: 3rem;
        display: flex;
        gap: 1rem;
    }

    .mobile-top--right i{
        font-weight: 600;
        font-size: 1.7rem;
    }

    .section-nav--menu{
        display: none;
    }

    .section-nav--cart{
        font-size: 1.6rem;
    }
}

/***** End navbar media query Section *****/

/***** End navbar Section *****/

/***** banner Section *****/ 

.section-header--banner{
    margin-block: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.banner-content--heading,
.banner-content--heading > span{
    font-size: 6.5rem;
    font-family: var(--font-secondary);
}

.banner-content--details{
    margin-top: 1.3rem;
}

.section-banner--image{
    width: 100%;
}

.section-banner--image img{
    width: 100%;
}

/***** banner media query Section *****/ 

/* for mobile */
@media screen and (max-width: 640px) {

    .section-header--banner.container{
        margin-inline: 0;
    }

    .section-header--banner{
        grid-template-columns: 1fr;
        gap: 2.8rem;
    }

    .section-banner--content{
        margin-inline: 1.6rem;
    }

    .section-banner--image{
        order: -1;
    }

    .banner-content--heading,
    .banner-content--heading > span{
        font-size: 2.4rem;
    }

    .banner-content--details{
        font-size: 1.4rem;
    }
}

/***** End banner media query Section *****/

/***** End banner Section *****/

/***** End header Section *****/

/***** main Section *****/

/* .section-main */

/***** plants Section *****/

.section-main--plants{
    margin-bottom: 21rem;
    text-align: center;
}

.section-plants--heading span{
    font-size: 5rem;
}

.section-plants--details{
    margin-block: 1.6rem 4.9rem;
    padding-inline: 12.6rem;
    font-size: 2.2rem;
}

.section-plants--cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 2rem;
}

.cards-item--image{
    margin-bottom: 3rem;
}

.cards-item--image img{
    width: 100%;
}

.cards-item--name{
    font-weight: 500;
}

.cards-item--price{
    margin-block: 2rem 4rem;
    font-weight: bold;
}

.cards-item--btn{
    width: 100%;
}

/***** plants media query Section *****/

/* for mobile */
@media screen and (max-width: 640px) {

    .section-main--plants{
        margin-bottom: 4.15rem;
    }

    .section-plants--heading,
    .section-plants--heading span{
        font-size: 2.4rem;
    }

    .section-plants--details{
        margin-block: 1.6rem 2.8rem;
        padding-inline: 0;
        font-size: 1.4rem;
    }

    .section-plants--cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-item--name,
    .cards-item--price{
        font-size: 1.6rem;
    }

    .cards-item--btn{
        padding-inline: 2rem;
    }
}

/***** End plants media query Section *****/

/***** End plants Section *****/

/***** plants lover Section *****/

.section-main--plants-lover{
    margin-bottom: 13.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
}

.section-plants-lover--images{
    position: relative;
}


.plants-lover--image img{
    width: 100%;
}

.plants-lover--image:last-child{
    width: 28.6rem;
    aspect-ratio: 1;
    position: absolute;
    top: -12.5rem;
    right: -9rem;
    animation: spin 5s linear infinite alternate;
    -webkit-animation: spin 5s linear infinite alternate;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.section-plants-lover--content{
    padding-block: 3.8rem;
}

.plants-lover-content--heading{
    margin-bottom: 2rem;
}

.plants-lover-content--paragraphs{
    margin-left: 3rem;
}

.content-paragraphs--item{
    list-style: disc;
    color: var(--dark-04)
}

.content-paragraphs--item ~ .content-paragraphs--item{
    margin-top: 2rem;
}

/***** plants lover media query Section *****/

/* for mobile */
@media screen and (max-width: 640px) {
    
    .section-main--plants-lover{
        grid-template-columns: 1fr;
        gap: 1.8rem;
    }

    .plants-lover--image:last-child{
        display: none;
    }

    .plants-lover-content--heading{
        font-size: 2.4rem;
    }

    .content-paragraphs--item p{
        font-size: 1.4rem;
    }
}

/***** End plants lover media query Section *****/

/***** End plants lover Section *****/

/***** deals Section *****/

.section-main--deals{
    text-align: center;
    margin-bottom: 12rem;
}

.section-deals--heading > span{
    font-size: 5rem;
}

.section-deals--details{
    width: 80%;
    margin-inline: auto;
    margin-block: 1.6rem 12rem;
}

.section-deals--content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2.8rem;
}

.section-deals--content a{
    text-decoration: underline;
}

.section-deals--content h3,
.section-deals--content a{
    color: var(--white);
}

.deals-content--left{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.6rem;
}

.deals-content-left--item,
.deals-content-right--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.deals-content-left--item{
    width: 100%;
    height: 100%;
}

.deals-content-left--item:first-child{
    background-image: url('../assets/deal-bloom.png');
}

.deals-content-left--item:last-child{
    background-image: url('../assets/deal-ana.png');
}

.deals-content-right--item{
    width: 100%;
    height: 42.313rem;
}

.deals-content-right--item:last-child{
    background-image: url('../assets/deal-zabo.png');
}


.deals-content-left--item h3,
.deals-content-right--item h3{
    font-family: var(--font-secondary);
    font-weight: bold;
}

.deals-content-left--item h3{
    font-size: 2rem;
}

.deals-content-right--item h3{
    font-size: 4rem;
}

.deals-content-right--item a{
    font-size: 2.8rem;
}

/***** deals media query Section *****/

/* for mobile */
@media screen and (max-width: 640px) {
    .section-main--deals{
        margin-bottom: 4rem;
    }

    .section-deals--heading,
    .section-deals--heading > span{
        font-size: 2.4rem;
    }

    .section-deals--details{
        width: 100%;
        font-size: 1.4rem;
        margin-bottom: 5.1rem;
    }

    .section-deals--content{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .deals-content--left{
        gap: 2rem;
    }

    .deals-content-left--item,
    .deals-content-right--item{
        height: 20.6rem;
    }

    .deals-content-right--item h3{
        font-size: 2rem;
    }

    .deals-content-right--item a{
        font-size: 1.6rem;
    }


}

/***** End deals media query Section *****/

/***** End deals Section *****/

/***** subscription Section *****/

.section-main--subscription{
    width: 100%;
    height: 53.3rem;
    background-image: url('../assets/news-letter-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-main--subscription.bg-overlay::before{
    background-color: rgba(0, 0, 0, 0.1);
}

.subscription-content--heading{
    color: var(--white);
    margin-bottom: 2.3rem;
    text-align: center;
}

.subscription-content--email{
    display: flex;
}

.subscription-content--email input,
.subscription-content--email button{
    height: 5rem;
}

.subscription-content--email input{
    width: 64.4rem;
    padding: 1.55rem 2rem;
    transition: box-shadow 0.3s ease-in-out;
}

.subscription-content--email input:focus{
    outline: none;
    border: 1px solid var(--btn-primary);
    box-shadow: 0 0 0.7rem var(--btn-primary);
}

.subscription-content--email button{
    width: 18.6rem;
    padding-inline: 5.35rem;
    border: none;
    background-color: var(--btn-primary);
    color: var(--white);
    font-weight: 600;
    font-size: 1.7rem;
    cursor: pointer;
}

/***** subscription media query Section *****/

/* for mobile */
@media screen and (max-width: 640px) {
    .section-main--subscription{
        height: 27.5rem;
    }

    .subscription-content--heading{
        font-size: 2rem;
    }

    .subscription-content--email input{
        width: 21.8rem;
    }

    .subscription-content--email button{
        width: 10.3rem;
        padding-inline: 1.2rem;
        font-size: 1.6rem;
    }
}

/***** End subscription media query Section *****/

/***** End subscription Section *****/

/***** End main Section *****/

/***** footer Section *****/

.section-footer--content{
    padding-block: 5rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 11rem;
}

.footer-brand--logo{
    width: 13.5rem;
    height: 8.2rem;
    margin-left: -1.5rem;
    margin-bottom: 1.6rem;
}

.footer-brand--logo img{
    width: 100%;
}

.footer-content--links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 11rem;
}

.footer-links--items{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.footer-links--item a{
    color: var(--dark-06);
    font-weight: normal;
}

.footer-content--social-media{
    display: flex;
    gap: 2.4rem;
}

/***** footer media query Section *****/

/* for mobile */
@media screen and (max-width: 640px) {
    .section-footer--content{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer-brand--logo{
        width: 18rem;
        height: 10.9rem;
        margin-left: 0rem;
    }

    .footer-brand--details{
        font-size: 1.6rem;
    }

    .footer-content--links{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
}

/***** End footer media query Section *****/



/***** End footer Section *****/